.show-modal {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  margin: auto;
  border: none;
  background-color: #4ade80;
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.show {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 10vh;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.buy-button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border: none;
  background-color: #4ade80;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
}
